{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>Login</h1>
  <form class="" action="" method="post" novalidate>
    {{form.hidden_tag()}}
    <p>
      {{form.username.label}}
      <br>
      {{form.username}}
      {% for error in form.username.errors %}
      {{error}}
      {% endfor %}
    </p>
    <p>
      {{form.password.label}}
      <br>
      {{form.password(size=32)}}
      {% for error in form.password.errors %}
      {{error}}
      {% endfor %}
    </p>
    <p>
      {{form.remember_me}} {{form.remember_me.label}}
    </p>
    <p>{{form.submit}}</p>
  </form>
  <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
</div>
{% endblock content %}
